#table-ex-1-4{
    background: yellowgreen;
    margin: 3px;
    border: 1px solid black;
    border-collapse: collapse;
}


  #table-ex-1-4, #table-ex-1-4 th,#table-ex-1-4 td {
    border: 1px solid black;
  }
  