table, th, td {
    /* border: 1px solid black; */
    
    /* margin: 0px 6px; */
    
}
table{
    width: 100%;
    
}
td{
    padding-left: 10px;
}

.table-header{
    border-bottom: 1.5px solid rgb(209, 209, 209);
}

.table-header > th{
    padding-bottom: 5px;
}

#table_ex_1_1_1 > .fig-img{
    background-color: rgb(23, 38, 51);
}

.fig{
    margin: 10px auto;
    width: 100px;
}

#table_ex_1_1_2{
    
}