@font-face {
    font-family: "Pyidaungsu";
    src: url("../styles/fonts/Pyidaungsu-2.5.3_Regular.ttf")
}

body {
    margin: 0;
    font-family: "Pyidaungsu";
    src: url("../styles/fonts/Pyidaungsu-2.5.3_Regular.ttf");
    line-height : 1.8em;
}

h2, h3, h4, h5 {
    margin: 0pt;
    padding: 3pt;
    color: rgb(66, 65, 61);
    font-size: .9em;
}

h4 {
    padding-top: 2pt;
    margin: 0px;
    /* font-size: 13pt; */
    font-weight: bold;
}

h5 {
    /* font-size: .9em; */
}

h3 {
    padding-top: 2pt;
    margin: 0px;
}

.symbol {
    font-size: 1.2em;
}

.header-center {
    text-align: center;
}

.header-chapter {
    background-image: linear-gradient(#FDC500 1%, white 104%)
}

.header-exercise {
    vertical-align: middle;
    text-align: center;
    background-image: linear-gradient(to right, #ca9f12 40%, white 100%);
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.header-exercise>span {
    background-image: url('../images/icons/exercise_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 39px;
    font-weight: bold;
}

.header-sub {
    background-image: linear-gradient(to right, #70cd5e 40%, white 100%);
    padding: 5px;
    /* padding-left: 8px; */
    /* margin : 10pt 0px ; */
    margin-bottom: 5px;
}

dd {
    color: hsl(59, 98%, 43%)
}
/* @media (min-width: 768px) and (max-width: 1024px) {
    p{
        line-height: 38px !important;
    }
} */


/* td, th {
    font-size: 16px;
    /* color : blue; */
/* }  */

p {
    margin-top: 0pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;
    text-align: justify;
    font-size: 16.5px;
}

.paragraph {
    text-indent: 35pt;
}

.image-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px;
}

.fig {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.308);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px 3px;
    margin-bottom: 10px;
    /* border-radius: 5px 5px 0px 0px; */
    padding: 2.5px;
    background: #141414;
}

.fig-img {}

.fig-img>canvas {
    /* border-radius: 5px 5px 0 0; */
}

.fig-caption {
    text-align: center;
    margin-top: -8px;
    font-size: .8em;
    margin-bottom: 10px;
}
/* "n"  means normal */
.fig-caption-n{
    text-align: center;
    font-size: .8em;
    margin-bottom: 10px;
}

.caption {
    padding: 0;
    padding-top: 2px;
    text-align: center;
    font-size: .8em;
    background: #141414;
    color: #979797;
}

table {
    margin-bottom: 12px;
    
}

table td, table th {
    font-size: 16.5px;
}


.thought-icon {
    margin: 5px;
    margin-top: 0px;
    width: 30px;
}

.thought-bubble {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: .9em;
}

/* background: #74ca12; green*/

.label_css2d {
    background: #7fdd6d;
    border: 1px solid #60a851;
    border-radius: 3px;
    padding: 2.5px 5px;
}

/*  question list */

.question-list {}

table.question-list td {
    padding-bottom: 10px;
    /* line-height: 1.8em !important; */
}

.question-list td:first-child {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

table.bordered-table {
    border-collapse: collapse;
}

table.bordered-table th, table.bordered-table td, table.bordered-table table {
    border: 1px solid grey;
    padding: 3px 0;
}

.menu-button {
    margin-left: 2px;
}

/* slider */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #6b5f52;
    outline: none;
    padding: 0;
    margin: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff7f00;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ff7f00;
    cursor: pointer;
}

.full-width-image, .full-width-video{
    width: 100%;
    
}
.full-width-frame{
    background: black;
}

ul{
    margin: 3px;
    margin-bottom: 14px;
    font-size: 16.5px;
    padding-left: 20px;
}
ul > li{
    margin-bottom: 6px;
}

.thought-buggle-on-start{
    padding-left: 43px;
    background-image: url(../images/icons/thought-bubble.svg);
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position-y: 6px;
    margin-left: 2px;
    margin-bottom: 15px;
}

.exercise-on-start{
    padding-left: 40px;
    background-image: url(../images/icons/exercise_icon.svg);
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position-y: 0px;
    margin-left: 2px;
}

.boxed-paragraph{
    border: 1.3px solid gray;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 15px;
    margin-left: 5pt;
    margin-right: 5pt;
}
.exercise-on-start > .boxed-paragraph{
    margin-left: 2px;
}

/* 
gallery
*/

ul.gallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    background: green;
    width: 80%;
    min-height: 200px;
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 072 css*/
.jssorb072 .i {position:absolute;color:#000;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
.jssorb072 .i .b {fill:#fff;opacity:.3;}
.jssorb072 .i:hover {opacity:.7;}
.jssorb072 .iav {color:#fff;}
.jssorb072 .iav .b {fill:#000;opacity:.5;}
.jssorb072 .i.idn {opacity:.3;}

/*jssor slider arrow skin 073 css*/
.jssora073 {display:block;position:absolute;cursor:pointer;}
.jssora073 .a {fill:rgb(235, 235, 235);fill-opacity:.7;stroke:rgb(31, 31, 31);stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
.jssora073:hover {opacity:.8;}
.jssora073.jssora073dn {opacity:.4;}
.jssora073.jssora073ds {opacity:.3;pointer-events:none;}

