@font-face {
    font-family: "MON3 Anonta 1";
    src: url("../styles/fonts/MON3Anonta1.ttf")
}

body {
    margin: 0;
    font-family: "MON3 Anonta 1";
    font-size: .9em;
    src: url("../styles/fonts/MON3Anonta1.ttf")
}

h2, h3, h4, h5 {
    margin: 0pt;
    padding: 3pt;
    color: rgb(66, 65, 61);
}

h4 {
    padding-top: 2pt;
    margin: 0px;
    font-size: 13pt;
    font-weight: bold;
}

h5 {
    font-size: .9em;
}

h3 {
    padding-top: 2pt;
    margin: 0px;
}

.symbol {
    font-size: 1.2em;
}

.header-center {
    text-align: center;
}

.header-chapter {
    background-image: linear-gradient(#FDC500 1%, white 104%)
}

.header-exercise {
    vertical-align: middle;
    text-align: center;
    background-image: linear-gradient(to right, #ca9f12 40%, white 100%);
    margin-bottom: 5px;
}

.header-exercise>span {
    background-image: url('../images/icons/exercise_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 32px;
    font-size: .9em;
    font-weight: bold;
}

.header-sub {
    background-image: linear-gradient(to right, #70cd5e 40%, white 100%);
    padding: 6px;
    /* padding-left: 8px; */
    /* margin : 10pt 0px ; */
    margin-bottom: 5px;
}

dd {
    color: hsl(59, 98%, 43%)
}

p {
    margin-top: 0pt;
    margin-bottom: 5pt;
    margin-left: 5pt;
    margin-right: 5pt;
    line-height: 1.6em;
    font-size: .97em;
    text-align: justify;
}

.paragraph {
    text-indent: 35pt;
}

.image-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.fig {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.253);
    transition: 0.3s;
    border-radius: 4px;
    margin: 5px;
    margin-bottom: 10px;
}

.fig-img {
    display: block;
    border-radius: 5px 5px 0 0;
    /* width: 100px;  */
     /* height: 100px; */
}

.fig-caption {
    text-align: center;
    /* margin-top: -5px; */
    font-size: .8em;
    margin-bottom: 10px;
}

.caption {
    padding: 3px;
    text-align: center;
    font-size: .75em;
}

table {
    margin-bottom: 12px;
    font-size: .97em;
    border-collapse: collapse;
}

th {
    font-size: .9em;
}

.thought-icon {
    margin: 5px;
    margin-top: 0px;
    width: 30px;
}
.thought-bubble{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* background: #74ca12; green*/

.label_css2d{
    background: #7fdd6d;
    border: 1px solid #60a851;
    border-radius: 3px;
    padding: 3px;
}